/* || GENERAL STYLES */
body {
    background-color: #000;
    margin: 0;
}
  
h1,
h2,
h3,
h4,
p
{
    font-family: "Noto Sans JP", sans-serif;  
}

ul {
}

blockquote {
}

.w4-1 {
    width: 25%;
}
.w2-1 {
    width: 50%;
}

/* || UTILITIES */

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* || SITEWIDE */

.logo {
/* … */
}

/* || Typography */

/* … */

/* || Header and Main Navigation */
header {
/*    */
}
.navbar {
    position: fixed;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: opacity .3s ease;
    background: rgba(81, 81, 81, 0.5);
    z-index: 99999;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fefefe;
}
.navbar li {
    position: relative;
    float: left;
    padding: 15px;
    text-align: center;
}
.navbar li:hover {
    background-color: #7c7c7c;
}
.navbar a.icon {
    display: none;
}

/* Hamburger Menu */
.icon-hamburger {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background-color: #484848;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #6a5fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1, .change .bar2, .change .bar3 {
    background-color: #ff5f5f;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
/* … */

/* Scroll bar */
.scroll-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    color: #fff;
    background: rgba(81, 81, 81, 0.5);
    z-index: 9999;
}
.scroll-bar p {
    top: 0;
    padding-top: 15px;
    margin: 0;
    height: 60px;
}
.scroll-bar p:hover {
    background-color: #7c7c7c;
}
.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 20px;
    rotate: 180deg;
    margin-left: calc(50% - 12px);
}
/* … */

/* Front Page Content */
.image-home-background { 
    width: 100%;
    opacity: .4;
}
#content {
    color: #fff;
}
.container-home-title-logo {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 10vw;
    display: flex;
}
.container-home-title-left {
    border-right: 1px solid #fff;
    padding-left: 10%;
}
.contain-home-title-right {
    width: 50%;
    margin: auto;
    padding-right: 10%;
}
.image-home-mainLogo {
    width: 100%;
}

/* Home Main title */
.home-main-title {
    width: 100%;
    text-align: left;
}
.home-main-title p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5vw;
    color: #fff;
}

/* About section */
.about-me-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10%;
    background: #2d2d2d;
}
.about-me-picture-container img {
    width: 100%;
    display: block;
    margin-left: auto;
}
.about-me-text-container {
    padding-left: 4vw;
  }
.about-me-text-container h1 {
    font-size: 2.5vw;
    line-height: 2.0vw;
    padding-bottom: 2vw;
}
.about-me-text-container h1, h2 {
    color: #fff;
    margin: 0;
}
.about-me-text-container h2, p {
    color: #ababab;
}
.about-me-text-container span {
    color: #fff;
}
.about-me-text-info {
    display: flex;
    padding: 10px 0 10px 0;
}
.about-me-text-info-left {
    color: #fff;
}
.about-me-text-info-right {
    color: #fff;
}
.about-me-text-info-label {
    font-weight: 800;
}

/* Resume section */
.resume-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10%;
}
.resume-picture-container img {
    width: 100%;
    display: block;
    margin-left: auto;
}
.resume-text-container {
    padding-left: 4vw;
  }
.resume-text-container h1 {
    font-size: 2.5vw;
    line-height: 2.0vw;
    padding-bottom: 2vw;
}
.resume-text-container h1, h2 {
    color: #fff;
    margin: 0;
}
.resume-text-container h2, p {
    color: #ababab;
}
.resume-text-container span {
    color: #fff;
}
.resume-text-info {
    display: flex;
    padding: 10px 10px 10px 0;
}
.resume-text-info-left {
    color: #fff;
}
.resume-text-info-right {
    color: #fff;
}
.resume-text-info-label {
    font-weight: 800;
}
/* Portfolio section */
.portfolio-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10%;
    background: #2d2d2d;
}
.portfolio-picture-container img {
    width: 100%;
    display: block;
    margin-left: auto;
}
.portfolio-text-container {
    padding-left: 4vw;
}
.portfolio-text-container a, a:link, a:visited, a:hover, a:focus, a:active {
    font-weight: 800;
    color: #acacac;
}
.portfolio-text-container h1 {
    font-size: 2.5vw;
    line-height: 2.0vw;
    padding-bottom: 2vw;
}
.portfolio-text-container h1, h2 {
    color: #fff;
    margin: 0;
}
.portfolio-text-container h2, p {
    color: #ababab;
}
.portfolio-text-container span {
    color: #fff;
}
.portfolio-text-info {
    display: flex;
    padding: 10px 0 10px 0;
}
.portfolio-text-info-left {
    color: #fff;
}
.portfolio-text-info-right {
    color: #fff;
}
.portfolio-text-info-label {
    font-weight: 800;
}

/* Contact section */
.contact-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10%;
    background: #272727;
}
.contact-picture-container img {
    width: 100%;
    display: block;
    margin-left: auto;
}
.contact-text-container {
    padding-left: 4vw;
}
.contact-text-container a, a:link, a:visited, a:hover, a:focus, a:active {
    font-weight: 800;
    color: #acacac;
}
.contact-text-container h1 {
    font-size: 2.5vw;
    line-height: 2.0vw;
    padding-bottom: 2vw;
}
.contact-text-container h1, h2 {
    color: #fff;
    margin: 0;
}
.contact-text-container h2, p {
    color: #ababab;
}
.contact-text-container span {
    color: #fff;
}
.contact-text-info {
    display: flex;
    padding: 10px 0 10px 0;
}
.contact-text-info-left {
    color: #fff;
}
.contact-text-info-right {
    color: #fff;
}
.contact-text-info-label {
    font-weight: 800;
}


/* Responsive Design */
@media screen and (min-width: 600px) {
    .icon-hamburger {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .navbar {
        width: 100%;
        background: rgba(81, 81, 81, 1);
        height: 0px;
        -webkit-transition: height 0.25s linear;
           -moz-transition: height 0.25s linear;
            -ms-transition: height 0.25s linear;
             -o-transition: height 0.25s linear;
                transition: height 0.25s linear;
    }
    .navbar ul {
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s linear;
    }
    .open ul {
        visibility: visible;
    }
    .open li {
        float: none;
    }
    div.open {
        height: 275px;
        -webkit-transition: height 0.25s linear;
           -moz-transition: height 0.25s linear;
            -ms-transition: height 0.25s linear;
             -o-transition: height 0.25s linear;
                transition: height 0.25s linear;
        opacity: 1;
    }
    .icon-hamburger {
    }

    #home, .container-home-title-logo {
        padding-top: 59px;
    }
    .about-me-container, .resume-container, .portfolio-container, .contact-container {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 1%;
    }
    h1 {
        font-size: 24;
    }
    .about-me-picture-container {
        display: flex;
        width: 100%;
    }
    .about-me-picture-container img {
        width: 70%;
        padding: 0 15%;
    }
    .about-me-text-container, .about-me-text-container, .resume-text-container, .portfolio-text-container, .contact-text-container {
        width: 100% !important;
        padding-top: 20px;
        padding-left: 1%;
    }

    .resume-container {
        display: block;
        width: 100%;
        margin: 0;
    }
    h1 {
        font-size: 24 !important; 
    }
    .resume-picture-container {
        display: flex;
        width: 100%;
    }
    .resume-picture-container img {
        width: 70%;
        padding: 0 15%;
    }

    .resume-text-info {
        flex-direction: column;
    }
    .w2-1{
        width: 100% !important;
}
  