/* || GENERAL STYLES */

body {
    background-color: #000;
}
  
h1,
h2,
h3,
h4 {
}
  
ul {
}

blockquote {
}

.w2-1 {
    width: 50%;
}

/* || UTILITIES */

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* || SITEWIDE */

.logo {
/* … */
}

/* || Typography */

/* … */

/* || Header and Main Navigation */
header {
/*    */
}
.navbar {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: opacity .3s ease;
    position: fixed;
    z-index: 99999;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fefefe;
}
.navbar li {
    position: relative;
    float: left;
    padding: 15px;
    text-align: center;
}
.navbar li:hover {
    background-color: #006775;
}
/* … */